@use '../util' as *;
html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--font-inter);
    background: var(--bg-color);
    margin: 0;
    color: var(--color2);
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    &::before {
        content: '';
        display: block;
        height: rem(250); 
        background-color: var(--top-bg-color); 
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        z-index: -1;
        transition: background-color 0.3s ease;
    }
}
.visually-hidden {
    position: absolute;
    inset-inline-start: rem(-10000);
    top: auto;
    width: rem(1);
    height: rem(1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
@media (prefers-reduced-motion: reduce) {
    body,
    body::before,
    .card,
    .toggle__background,
    .toggle__button,
    .card__icon, 
    .card__count,
    .card__label,
    .card__change--up img, 
    .card__change--down img 
    {
        transition: none;
        animation: none;
    }
}