@use '../util' as *;
html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--font-inter);
    background: var(--dark-bg-color);
    margin: 0;
    color: var(--dark-color2);
    position: relative;
    &::before {
        content: '';
        display: block;
        height: rem(250); 
        background-color: var(--dark-top-bg-color); 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}