html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--font-inter);
    background: var(--dark-bg-color);
    color: var(--dark-color2);
}