:root {
    // Primary
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --instagram-start: hsl(329, 70%, 58%);
    --instagram-middle: hsl(5, 77%, 71%);
    --instagram-end: hsl(37, 97%, 70%);
    --twitter: hsl(203, 89%, 53%);
    --youtube: hsl(348, 97%, 39%);
    // Light toggle
    --toggle-bg-start: hsl(210, 79%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: linear-gradient(225deg, var(--toggle-bg-start) 0%, var(--toggle-bg-end) 98.02%);
    // Light theme
    --bg-color: hsl(0, 100%, 100%);
    --top-bg-color: hsl(225, 100%, 98%);
    --divider: hsl(230, 8%, 57%);
    --card-bg: hsl(227, 47%, 96%);
    --card-hover: hsl(227, 47%, 92%);
    --color1: hsl(228, 12%, 30%);
    --color2: hsl(230, 17%, 14%);
    --link-color: hsl(228, 45%, 44%);
}
[data-theme='dark'] {
    // Dark toggle
    --toggle-bg-start: hsl(210, 79%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: linear-gradient(225deg, var(--toggle-bg-start) 0%, var(--toggle-bg-end) 98.02%);
    // Dark theme
    --bg-color: hsl(230, 17%, 14%);
    --top-bg-color: hsl(232, 19%, 16%);
    --divider: hsl(230, 8%, 57%);
    --card-bg: hsl(228, 28%, 20%);
    --card-hover: hsl(228, 28%, 24%);
    --color1: hsl(230, 22%, 74%);
    --color2: hsl(0, 100%, 100%);
}
@media (prefers-color-scheme: dark) {
    html:not([data-theme]) {
     // Dark toggle
    --toggle-bg-start: hsl(210, 79%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: linear-gradient(225deg, var(--toggle-bg-start) 0%, var(--toggle-bg-end) 98.02%);
    // Dark theme
    --bg-color: hsl(230, 17%, 14%);
    --top-bg-color: hsl(232, 19%, 16%);
    --divider: hsl(230, 8%, 57%);
    --card-bg: hsl(228, 28%, 20%);
    --card-hover: hsl(228, 28%, 24%);
    --color1: hsl(230, 22%, 74%);
    --color2: hsl(0, 100%, 100%);
    }
}