@use '../util' as *;
h1 {
    @include breakpoint(large) {
        font-size: rem(28);
        font-size: rem(24);
    }
    line-height: 1.1;
    margin-bottom: rem(3);
}
a {
    text-decoration: none;
}