@use '../util' as *;
.grid {
    display: grid;
    gap: rem(30);
    grid-template-columns: 1fr;
    justify-items: center;
    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.card {
    background: var( --dark-card-bg);
    color: var(--dark-color1);
    max-width: rem(255);
    width: 100%;
    text-align: center;
    padding: rem(25);
    border-radius: rem(5);
    position: relative;
    overflow: hidden;
    transition: 150ms ease-in-out;
    &:hover {
        background: var(--dark-card-hover);
    }
    &--facebook {
        border-top: rem(5) solid var(--facebook);
    }
    &--twitter {
        border-top: rem(5) solid var(--twitter); 
    }
    &--instagram {
        padding-top: rem(30);
        &::before {
            content: '';
            height: rem(5);
            width: 100%;
            background: linear-gradient(225deg, var(--instagram-start) 0%, var(--instagram-middle) 50.91%, var(--instagram-end) 100%);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &--youtube {
        border-top: rem(5) solid var(--youtube);
    }
    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
        height: rem(20);
    }
    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
    }
    &__icon {
        margin-right: rem(8);
        &--facebook {
            
        }
        &--twitter {

        }
        &--instagram {

        }
        &--youtube {

        }
    }
    &__username {
        font-size: rem(12);
        font-weight: 700;
    }
    &__followers {
        margin-bottom: rem(25);
    }
    &__count {
        margin-bottom: rem(5);
        color: var(--dark-color2);
        font-weight: bold;
        letter-spacing: rem(-2);
        line-height: 1;
        &--big {
            font-size: rem(56);
        }
        &--small {
            font-size: rem(32);
            font-weight: 700;
        }
    }
    &__label {
        color: var( --dark-color1);
        font-size: rem(12);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: rem(5);
    }
    &__change {
        font-size: rem(12);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        &--up {
            color: var(--limegreen);
        }
        &--down {
            color: var(--brightred);
        }
        img {
            margin-right: rem(4);
        }
    }
    }