@use '../util' as *;
@keyframes wobble {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(6deg) scale(1.1);
    }
    75% {
        transform: rotate(-6deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes bounce-up {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-4px);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-2px); 
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounce-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(4px); 
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}
.grid {
    display: grid;
    gap: rem(30);
    grid-template-columns: 1fr;
    justify-items: center;
    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.card {
    background: var(--card-bg);
    color: var(--color1);
    max-width: rem(255);
    width: 100%;
    text-align: center;
    padding: rem(25);
    border-radius: rem(5);
    position: relative;
    overflow: hidden;
    transition:0.2s ease-in-out;
   &:hover {
        background: var(--card-hover);
        .card__icon {
            animation: wobble 0.6s ease-in-out;
        }
        .card__change--up img {
            animation: bounce-up 0.8s ease-in-out;
            
        }
        .card__change--down img {
            animation: bounce-down 0.8s ease-in-out;
        }
    }
    &--facebook {
        border-top: rem(5) solid var(--facebook);
    }
    &--twitter {
        border-top: rem(5) solid var(--twitter); 
    }
    &--instagram {
        padding-block-start: rem(30);
        &::before {
            content: '';
            height: rem(5);
            width: 100%;
            background: linear-gradient(225deg, var(--instagram-start) 0%, var(--instagram-middle) 50.91%, var(--instagram-end) 100%);
            display: block;
            position: absolute;
            top: 0;
            inset-inline-start: 0;
        }
    }
    &--youtube {
        border-top: rem(5) solid var(--youtube);
    }
    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
        height: rem(20);
    }
    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
    }
    &__icon {
        margin-right: rem(8);
        transition: transform 0.2s;
    }
    &__username {
        font-size: rem(12);
        font-weight: 700;
    }
    &__followers {
        margin-bottom: rem(25);
    }
    &__count {
        margin-bottom: rem(5);
        color: var(--color2);
        font-weight: bold;
        letter-spacing: rem(-2);
        line-height: 1;
        transition: color 0.3s ease;
        &--big {
            font-size: rem(56);
        }
        &--small {
            font-size: rem(32);
            font-weight: 700;
        }
    }
    &__label {
        color: var(--color1);
        font-size: rem(12);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: rem(5);
        transition: color 0.3s ease;
    }
    &__change {
        font-size: rem(12);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        &--up {
            color: var(--limegreen);
        }
        &--down {
            color: var(--brightred);
        }
        img {
            margin-right: rem(4);
        }
    }
}