@use '../util' as *; 
.header {
    background: var(--dark-top-bg-color);
    margin-top: rem(36);
    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {

    }
    &__followers {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-color1);
    }
    &__toggle {

    }
}