@use '../util' as *; 
.header {
    // background: var(--dark-top-bg-color);
    padding-top: rem(36);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(medium) {
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @include breakpoint(medium) {
            width: auto;
        }
    }
    &__followers {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-color1);
    }
}