@use '../util' as *; 
.header {
    padding-top: rem(36);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(medium) {
        justify-content: space-between;
        align-items: center;
    }
    @include breakpoint-down(small) {
        flex-direction: column;
        &__divider {
            background: var(--divider);
            height: rem(1);
            margin: rem(24) 0 rem(24);
        }
    }
    &__title {
        @include breakpoint(medium) {
            width: auto;
        }
    }
    &__followers {
        font-size: rem(14);
        font-weight: 700;
        color: var(--color1);
    }
}