@use '../util' as *;
.toggle {
    display: grid;
    grid-template-columns: 1fr rem(48);
    border: none;
    label {
        font-size: rem(14);
        line-height: rem(24);
        margin-right: rem(13);
        color: var(--color1);
        font-weight: 700;
    }
    &__wrapper {
        height: rem(24);
        width: rem(48);
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        input[type='radio'] {
            opacity: 0;
            z-index: 2;
            width: 50%;
            height: 100%;
            cursor: pointer;
            margin: 0;
            position: relative;
        }
    }
    &__background {
        border-radius: rem(12);
        background: var(--toggle);
        height: 100%;
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: background-color 0.3s ease, background-image 0.3s ease; 
    }
    &__button {
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--bg-color);
        position: absolute;
        top: rem(3);
        pointer-events: none;
        transition: left 0.2s ease-in-out, background-color 0.3s ease;
        left: rem(3);
    }
   input[type='radio'][id='dark']:checked ~ &__button {
        left: rem(3);
    }
    input[type='radio'][id='light']:checked ~ &__button {
        left: calc(100% - rem(21));
    }
    &__wrapper:hover &__background {
        opacity: 0.9;
    }
    &:focus-within &__background {
        box-shadow: 0 0 0 2px var(--color1);
    }
}